aside {
	width: $sidebar-width;
	height: 100vh;
	background: $blue-10;
	position: fixed;
	top:0;
	left: -$sidebar-width;
	padding: 10px 5px 10px 14px;
	z-index: 50;
	transition: all .5s;
	&.expanded {
    left: 0;
  }
	@include media-breakpoint-up(sm) {
    left: 0;
  }
	.logo {
		border-bottom: 1px solid $grey-blue-20;
		img {
			width: 69px;
			margin: 10px 0 5px;
		}
	}
	ul {

		list-style: none;
		padding: 0;
		li {
			font-size : 12px;
			line-height : 25px;
			a {
				color: $grey-blue-20 !important;
			}
			&.active a {
				color: $white !important;
			}
			.notification {
				font-weight : bold;
				font-size : 8px;
				line-height : 10px;
				padding: 2px 5px;
				border-radius: 3px;
				float: right;
				margin-top: 4px;
			}

		}
	}
}


