#toolbar {
	width: 100vw;
	height: 45px;
	background: $blue;
	color: white;
	position: fixed;
	z-index: 100;
	top:0;
	left: 0;
	padding: 7px;
	transition: all .25s;
	.btn img {
  	width: 50%;
  	height: 50%;
	}
	.logo {
  	margin: auto;
		width: 69px;
		margin: 10px auto 5px;
	}
	.btn-group {
  	button {
    	padding-left: 2px;
    	padding-right: 2px;
  	}
	}
  @include media-breakpoint-up(sm) {
    top: -45px;
  }
}
