body {
	aside {

	}
	#content {
		.col {
			header {
				height: 52px;
				border-bottom: 1px solid $grey-light;
			}
		}

		#leftthing {
			padding: 0;
			min-height: 100vh;
			border-right: 1px solid $grey;

			header {
				padding: 7px 15px;
				.col:nth-child(1) {
					border-right: 1px solid $grey;
				}

			}
			nav {
				background-color: $grey-blue-lighter;
				border-bottom: 1px solid $grey;
				padding: 4px 6px;
				form {
					width: 100%;
					button, input {
  					font-size: 10px;
					}
					input.form-control {
  					border-color: white;
					}
				}
			}
			#accordion {
				.card {
					border-radius: 0 !important;
					border: none;
					border-bottom: 1px solid $grey-light;

					.card-header {
						background-color: $grey-blue-light;
						padding: 0 20px;
						border-radius: 0 !important;
						h5 {
							button {
								font-size : 11px;
								font-weight: bold;
								line-height: 22px;
								color: $grey-dark;
								padding: 0px 0px 0px 20px;
								position: relative;
								&:before {
									content: url("../images/caret.svg");
									position: absolute;
									left: 7px;
									top: -2px;
									font-size: 12px;
								}
								&.collapsed:before {
									transform: rotate(180deg);
									top: 2px;
								}
							}
						}

					}
					.card-body {
  					padding: 10px 20px;
						article {
							width: 100%;
							padding-left: 10px;
							.tag {
								.indicator {
									width: 8px;
									height: 8px;
									background-color: $grey-dark;
									display: inline-block;
								}
								font-size: 10px;
								background-color: $grey-lighter;
								padding: 4px;
								&.interview {
									.indicator {
										background-color: $turquoise;
									}
								}
							}
							.date {
								font-size : 11px;
								color: $grey-medium;
							}
							h6 {
							  font-weight : bold;
							  font-size : 12px;
							  color : #31424D;
							  color : rgb(49, 66, 77);
                margin: 6px 0;
							}
							p {
								font-size : 11px;
							  line-height : 13px;
							  color : $grey-blue-medium;
							  margin-bottom: 10px;
							}
							ul {
								padding-left: 15px;
								margin-bottom: 0;
								li {
									font-size : 11px;
									  line-height : 13px;
									  color : #911D22;
									&.confirmed {
										color: $green-dark;
									}
									&.pending {
										color: $red-dark;
									}
								}
							}
						}
					}
				}
			}
		}

    #rightthing {
      h2 {
        margin: 15px 0;
      }
      h3 {
        margin: 18px 0 5px 0;
      }
      p {
        margin-bottom: 6px;
      }
      .border-top {
        border-top: 1px solid $grey-light;
        margin-top: 25px;
      }


    }
	}
}
