body {
	aside {

	}
	#container {
		header {
			height: 52px;
			border-bottom: 1px solid $grey-50;
		}

		#feed {
			padding: 0;
			min-height: 100vh;
			border-right: 1px solid $grey-40;

			header {
				padding: 7px 15px;
				.col:nth-child(1) {
					border-right: 1px solid $grey-40;
				}

			}
			nav {
				background-color: $grey-blue-50;
				border-bottom: 1px solid $grey-40;
				padding: 4px 6px;
				form {
					width: 100%;
					button, input {
  					font-size: 10px;
					}
					input.form-control {
  					border-color: white;
					}
				}
			}
			#accordion {
				.card {
					border-radius: 0 !important;
					border: none;
					border-bottom: 1px solid $grey-50;

					.card-header {
						background-color: $grey-blue-40;
						padding: 0 20px;
						border-radius: 0 !important;
						h5 {
							button {
								font-size : 11px;
								font-weight: bold;
								line-height: 22px;
								color: $grey-10;
								padding: 0px 0px 0px 20px;
								position: relative;
								&:before {
									content: url("/images/careers_v2/caret.svg");
									position: absolute;
									left: 7px;
									top: -2px;
									font-size: 12px;
								}
								&.collapsed:before {
									transform: rotate(180deg);
									top: 2px;
								}
							}
						}

					}
					.card-body {
  					padding: 0px 0 0 10px ;

						article {
							width: 100%;
							padding: 10px 30px 10px 20px;
							transition: all .25s;
							.tag {
								.indicator {
									width: 8px;
									height: 8px;
									background-color: $grey-10;
									display: inline-block;
								}
								font-size: 10px;
								background-color: $grey-60;
								padding: 4px;
								&.interview {
									.indicator {
										background-color: $turquoise-20;
									}
								}
							}
							.date {
								font-size : 11px;
								color: $grey-20;
							}
							h6 {
							  font-weight : bold;
							  font-size : 12px;
							  color : #31424D;
							  color : rgb(49, 66, 77);
                margin: 6px 0;
							}
							p {
								font-size : 11px;
							  line-height : 13px;
							  color : $grey-blue-10;
							  margin-bottom: 10px;
							}
							ul {
								padding-left: 15px;
								margin-bottom: 0;
								li {
									font-size : 11px;
									  line-height : 13px;
									  color : #911D22;
									&.confirmed {
										color: $green-10;
									}
									&.pending {
										color: $red-10;
									}
								}
							}
							&.selected {
  							border-left: 5px solid rgba($blue-30,.35);
  							background: rgba($blue-30,.03);
							}
						}
					}
				}
			}
		}

    #main {
      padding: 0;
      header {
        padding: 0 0 0 15px;
        #close-this {
          padding-top: 15px;
        }
      }
      h2 {
        margin: 15px 0;
      }
      p {
        margin-top: 16px;
        font-size: 12px;
      }
      form {
        h3 {
          margin: 18px 0 5px 0;
        }
        p {
          margin-bottom: 6px;
        }
      }

      #collapseTags {
        label {
          margin: 5px 10px 0 0;
          padding-top: 4px;
        }
      }

      .border-top {
        border-top: 1px solid $grey-50;
        margin-top: 25px;
      }

      &.view {
        background: $blue-60;
        padding: 15px 12px;

        .panel {
          header {
            font-size: 11px;
            height: auto;
            .indicator {
              font-size: 10px;
              position: relative;
              padding-left: 15px;

              &:before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                left: 4px;
                top: 2px;
                border-radius: 100%;
              }
              &.confirmed:before {
              }
              &.pending:before {
              }
              &.open:before {
                border: 1px solid $grey-40;
              }
            }
          }

          footer {
            padding-bottom: 20px;
            span {
              padding-left: 15px;
            }
            span:before{
              width: 12px;
              height: 12px;
              content: "";
              position: absolute;
              border: 1px solid;
              left: 12px;
            }
            .hardware:before {
              border-color: $turquoise-20;
              background-color: $turquoise-50;
            }
            .software:before {
              border-color: $red-30;
              background-color: $red-50;
            }
            .student:before {
              border-color: $green-30;
              background-color: $green-50;
            }
          }
        }

        .confirmed:before {
          background: $grey-40;
        }
        .pending:before {
          background: $red-10;
        }
        .open:before {
          background: white;
          border: 1px solid $grey-40;
        }


        article {
          ul.edit-things {
            padding-left: 0;
            list-style-type: none;
            li {
              display: inline-block;
              padding-left: 10px;
              position: relative;
              &:before {
                content: "•";
                position: absolute;
                left: 5px;
              }
            }
          }
          .timesheet {
            font-size: 12px;
            text-align: right;
            .border-right {

            }
            .col-sm-5 {
              display: flex;
            }
            .cell {
              font-size: 9px;
              line-height: 9px;
              height: 25px;
              border: 1px solid;
              border-radius: 3px;
              text-align: left;
              padding: 2px 12px;
              position: relative;
              display: flex;
              justify-content: left;
              align-items: center;
              width: 50%;
              margin: 3px;
              &:before {
                position: absolute;
                content: "";
                height: 23px;
                width: 6px;
                position: absolute;
                left: 0px;
                top: 0;
                border-radius: 2px 0 0 2px;
              }
              &.empty {
                border-color: transparent;
                background: transparent;
                color: transparent;
              }
              &.hardware {
                border-color: $turquoise-20;
                background-color: $turquoise-50;
              }
              &.software {
                border-color: $red-30;
                background-color: $red-50;
              }
              &.student {
                border-color: $green-30;
                background-color: $green-50;
              }
              &.confirmed:before {
              }
              &.pending:before {
              }
              &.open:before {
                border: none;
              }
              &.filter-list {
                &:after {
                  position: absolute;
                  content: url("/images/careers_v2/filter-list.svg");
                  bottom: 3px;
                  right: 3px;
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
        }
      }
    }
	}

	.modal {
  	font-size : 10px;
  	border-color: $grey-50;
  	background-color: rgba(white,.75);
  	.modal-dialog {
    	margin-right: 25px;
    	width: 50vw;
    	max-width: 55vw;
  	}
  	h5, h6 {
  	  font-size : 12px;
      line-height : 13px;
      font-weight: bold;
      color: $grey-blue-05;
  	}
  	.btn-dashed {
    	border-width: 1px;
      border-color: $grey-40;
      margin-top: -1px;
      color: $grey-30;
  	}
	}
}
