body.student-signups {
  #toolbar {
    display: block;
    top: 0;
    position: relative;
  }
  aside {

  }
  #container {
    #main.view {
      padding: 0;
      border: none;
      border-radius: none;
      .avatar {
        width: 26px;
        height: 26px;
        display: inline-block;
      }
      .recruiter {
        font-weight: bold;
      }
      select.custom-select {
  			border-color: white;
		  }
		  .cell {
  		  color: $grey-02;
		  }
    }

  }
}
