body.student-signups {
  #toolbar {
    display: block;
    top: 0;
    position: relative;
    .logo {
//       background-position: left center;
      margin-left: 5px;
    }
  }
  aside {
    .logo {
      margin-bottom: 15px;
    }
  }
  #container {

    .recruiter-info {
      small {
        font-size: 10px;
      }
      p {
        font-size: 12px;
      }

    }

    #main.view {
      padding: 0;
      border: none;
      border-radius: none;
      header {
        padding: 0;
      }
      .avatar {
        width: 26px;
        height: 26px;
        display: inline-block;
      }
      .recruiter {
        font-weight: bold;
      }
      select.custom-select {
  			border-color: white;
		  }
		  .cell {
  		  color: $grey-02;
		  }
    }

  }
}
